<footer id="colorlib-footer" role="contentinfo">


    <div class="features-section">
        <div class="feature">
          <div class="icon" style="background-color: #83C1B3;">
            <i class="icon-truck">🚚</i>
          </div>
          <h3>FREE SHIPPING</h3>
          <p>On Orders Above ₹299</p>
        </div>
        <div class="feature">
          <div class="icon" style="background-color: #83C1B3;">
            <i class="icon-return">🔄</i>
          </div>
          <h3>EASY RETURNS</h3>
          <p>15-Day Return Policy</p>
        </div>
        <div class="feature">
          <div class="icon" style="background-color: #83C1B3;">
            <i class="icon-authentic">✔️</i>
          </div>
          <h3>100% AUTHENTIC</h3>
          <p>Products Sourced Directly</p>
        </div>
        <div class="feature">
          <div class="icon" style="background-color: #83C1B3;">
            <i class="icon-brands">🏷️</i>
          </div>
          <h3>1900+ BRANDS</h3>
          <p>1.2 Lakh+ Products</p>
        </div>
       
      </div>
    <div class="container">
        <div class="row row-pb-md">
            <div class="col footer-col colorlib-widget ">
                <h4>connect us</h4>
                <p>get to know more about us through social media</p>
                <p>
                    <ul class="colorlib-social-icons">
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble"></i></a></li>
                    </ul>
                </p>
            </div>
            <div class="col footer-col colorlib-widget">
                <h4>Top Categories</h4>
                <p>
                    <ul class="colorlib-footer-links">
                        <li><a href="#">Make Up</a></li>
                        <li><a href="#">Skincare</a></li>
                        <li><a href="#">Haircare</a></li>
                        <li><a href="#">Bath & Body</a></li>
                       
                    </ul>
                </p>
            </div>
            <div class="col footer-col colorlib-widget">
                <h4>Customer care</h4>
                <p>
                    <ul class="colorlib-footer-links">
                        <li><a href="#">contact</a></li>
                        <li><a href="#">returns?exchange</a></li>
                        <li><a href="#">Wishlist</a></li>
                        <li><a href="#">customer service</a></li>
                        
                    </ul>
                </p>
            </div>

            <div class="col footer-col">
                <h4>Information</h4>
                <ul class="colorlib-footer-links">
                    <li><a href="blog.html">about us</a></li>
                    <li><a href="#">delivery Information</a></li>
                    <li><a href="#">privacy Policy</a></li>
                    <li><a href="#">support</a></li>
                    <li><a href="#">order tracking</a></li>
                </ul>
            </div>

            <div class="col footer-col">
                <h4>Contact Information</h4>
                <ul class="colorlib-footer-links">
                    <li>near anna nagar, <br> chennai,tamil nadu</li>
                    <li><a href="tel://1234567920">+ 1235 2355 98</a></li>
                    <li><a href="mailto:info@yoursite.com">info@cosmix.com</a></li>
            
                </ul>
            </div>
        </div>
    </div>
    <div class="copy">
        <div class="row">
            <div class="col-sm-12 text-center">
                <p>
                    <span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></span> 
                    <span class="block">Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a> , <a href="http://pexels.com/" target="_blank">Pexels.com</a></span>
                </p>
            </div>
        </div>
    </div>
</footer>